$purple: #5856d6;
$red: #ff3b30;
$green: #4cd964;
$yellow: #ffcc00;
$blue: #007aff;
$pink: #ff2d55;
$orange: #ff9500;
$poppySurprise: #ff5630;
$goldenState: #ffab00;
$ourKellie: #36b37e;
$tamarama: #00b8d9;
$da_juice: #6554c0;
$black: #424241;
