@import "./ColorValues";

@keyframes gamePageNotes {
  to {
    transform: translateY(20px);
  }
}

.gamePage {
  height: 46.7rem;
  background-image: url("../src/pages/GameRunPage/preview.gif");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  color: #fff;
  flex-wrap: wrap;
  
  div {
    transform: translateY(300px);
    margin: 0 2rem;
    height: 20rem;
  }

  div:first-child {
    background-image: linear-gradient(65deg, $blue, $tamarama, $purple);
    padding: 1.5rem 3rem;
    border-radius: 11px;
  }

  div:last-child {
    background-image: linear-gradient(65deg, $blue, $pink, $red);
    padding: 1rem 3rem;
    border-radius: 11px;
  }
}

.gamePageAnime {
  div {
    animation: gamePageNotes 1s ease-in-out both;
  }
}
