@import "./ColorValues";

.guidePage {
  background-image: linear-gradient(65deg, $yellow, $red);
  color: #fff;
  padding: 5%;
  font-style: italic;

  h1 {
    padding-top: 10%;
  }

  p {
    padding-bottom: 15%;
  }

  span {
    content: url("borderStyle.svg");
    width: 15rem;
    margin: -5rem 40% 0;
    align-items: stretch;

    &:last-child {
      transform: rotateZ(180deg);
      margin-bottom: -6%;
    }
  }
}
