@import "./ColorValues";

.guidePage {
  background-image: linear-gradient(65deg, $yellow, $red);
  color: #fff;
  font-style: italic;
  height: 46.7rem;

  h1,
  p {
    padding: 10%;
  }

  h1 {
    padding-bottom: 0;
  }

  p {
    padding-top: 0;
  }

  span {
    content: url("borderStyle.svg");
    width: 15rem;
    margin: 0 40%;

    &:last-child {
      transform: rotateZ(180deg);
    }
  }
}
