@import "./ColorValues";
@import "./Navbar.module";

.loginPage {
  display: flex;
  background-color: $black;
  color: #fff;
  width: 50%;
  float: right;

  form {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    label,
    button {
      margin: 0.5% 2%;
    }

    input {
      border-radius: 5px;
      padding: 5px;
    }

    button {
      @include Button;
      padding: 10px 30px;
    }

    span {
      display: block;
      float: left;
      cursor: pointer;
      border: 1rem solid transparent;
      border-right-color: #ff0000;
      border-radius: 8px;
    }
  }
}
