@import "./ColorValues";

.mainPage {
  background-image: linear-gradient(35deg, $tamarama, $pink);
  color: #fff;
  font-size: xx-large;
  font-style: italic;
  display: flex;
  justify-content: center;
  height: 50rem;

  p {
    border: 2px solid #fff;
    border-radius: 8px;
    align-self: center;
    text-align: center;
    padding: 3% 20%;
  }
}
