@import "./ColorValues";

.mainPage {
  background-image: linear-gradient(35deg, $tamarama, $pink);
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: xx-large;
  padding: 19%;
  font-style: italic;

  p {
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5% 20%;
  }
}
