@import "./ColorValues";

@mixin Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Button {
  padding: 0.5rem 4rem;
  border-radius: 8px;
  background-color: #fff;
}

.navbar {
  background-color: $ourKellie;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;

  li {
    margin: 0 1.5rem;
    list-style: none;
  }
}

.leftNav {
  display: flex;
  float: left;
  
  .logo {
    font-size: xx-large;
    display: block;
    // align-self: center;

    sup {
      margin: 0 -1rem;
      font-size: x-large;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  li:hover {
    color: #000;
    transition-duration: 400ms;
  }
}

.rightNav {
  display: flex;
  float: right;

  li {
    transition-duration: 200ms;
  }

  .signUp {
    @include Button;
    display: flex;
    align-self: center;
    border: 2px solid $red;
    color: $red;

    &:hover {
      background-color: $red;
      color: #fff;
      border: 2px solid #fff;
    }
  }

  .login {
    @include Button;
    display: flex;
    align-self: center;
    border: 2px solid $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: #fff;
      border: 2px solid #fff;
    }
  }
}
