@import "./ColorValues";
@import "./Navbar.module";

.signUpPage {
  background-color: $black;
  display: flex;
  justify-content: center;
  line-height: 2rem;
  padding: 1% 0;
  
  form {
    padding: 0 10%;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    flex-direction: column;
    font-size: large;
    text-align: center;
    display: flex;

    label {
      text-align: left;
    }

    input {
      border-radius: 4px;
      padding: 5px;
    }
  }

  h3 {
    text-align: left;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .initialForm,
  .birthdayForm {
    justify-content: space-around;
    display: flex;
  }

  button {
    @include Button;
    width: 20%;
    margin: 13px 0;
  }
}
